@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    background-color: #ececec;padding: 0%; margin: 0%;  
}

.firstpic{
    background-image: url("https://images.unsplash.com/photo-1536383389102-0ac333c44981?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=880&q=80");  
    background-repeat: no-repeat; background-position: center center;background-attachment: fixed;-webkit-background-size: cover;
  -moz-background-size: cover;-o-background-size: cover; background-size: cover; height: 60rem;

}

.introstatement{
  text-indent: 100px; text-align:center;letter-spacing: 3px;color:white;font-size: 20px;padding-left: 5%;padding-right: 5%;
  text-justify: inter-word
}

.name{
    color:white; text-align:center; font-weight: 500;
}

.secondpic{
    padding: 5%;
}

.Myinfos{
    font-size:24px;padding: 5%;
}

  
  